body {
    background-color: rgba(46, 123, 240, 0.867);
}

/* .showcase {
    margin: auto;
    width: 65%;
    background-color:rgb(75, 143, 7);
    padding: 40px;
}
.showcase p {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
} */